<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4B2E1E;">
  <a class="navbar-brand" href="#" style="color: #F2C94C;">Freddy´s Fazbear</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon" style="filter: invert(1);"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/" style="color: #F2C94C;">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/animatronics" style="color: #F2C94C;">Animatronics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/clientes" style="color: #F2C94C;">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pedidos" style="color: #F2C94C;">Pedidos</a>
        <li class="nav-item">
          <a class="nav-link" href="/avisos" style="color: #F2C94C;">Avisos</a>
      </li>
    </ul>
  </div>
</nav>