<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>
    <h1>Bem-vindo a homepage!</h1>    
    <hr>
    <p>Iniciando estudos com o Node.js...</p>

    <img src="/images/rubiks.jpg" height="500px" width="800px">

<%- include ('partials/footer.ejs') %>
