<%- include ('partials/navbar.ejs')%>
<%- include ('partials/header.ejs')%>

<body>
    <style>
        body {
      background-color:#F2C94C;
      color: #4B2E1E; font-weight: bold;
      text-align: center;
    }
    </style>

<title>Dicas de Cuidados</title>
  <style>
    .aviso-container {
      width: 80%;
      margin: 30px auto;
      padding: 20px;
      border: 3px solid #A33E3E;
      border-radius: 10px;
      background-color: #FFF8DC;
      color: #4B2E1E;
    }
  </style>
</head>
<body>

  <div class="aviso-container">
    <h2>Dicas de Cuidados!</h2>
    <p>Para uma melhor diversão e segurança, recomendos seguir estas dicas de cuidados e manutenção. Qualquer deslize pode ser fatal!!</p>
    <ul>
      <li>Manter a limpeza constante dos animatronics, se vir um líquido marrom ou vermelho escorrendo de seus olhos ou bocas, apenas passe um pano com desinfetante.</li>
      <li>Se escutar gritos ou pedidos de socorro vindo dos bonecos, não se preocupe. Isto é apenas suas caixas de som com defeito.</li>
      <li>Ao perceber que os bonecos andam meio agressivos com os funcionários do local, apenas os desligue e os deixe descançar um pouco do serviço!!</li>
      <li>Não deixe os animatronics sozinhos por longos períodos, principalmente perto de crianças, eles podem se sentir frustrados com os gritos de alegria.</li>
      <li>Jamais olhe para dentro dos bonecos!!!, acredite, nossos componentes especias são um pouco diferentes do normal, isso pode vir se tornar um choque para você.</li>
    </ul>
    <p><strong>Seguindo essas orientações, você garante a durabilidade e segurança dos seus produtos Fazbear!</strong></p>
    <p><strong>Boa Diversão!!</strong></p>
  </div>
</body>

<%- include ('partials/footer.ejs')%>