<%- include ('partials/navbar.ejs')%>
<%- include ('partials/header.ejs')%>

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
</head>
<body>
    <h1>Bem-vindo ao site para vendas de animatronics para festividades!!</h1>
    <style>
        body {
      background-color:#F2C94C;
      color: #A33E3E; font-weight: bold;
      text-align: center;
    }
    </style>
    <img src="/images/logo2.png" alt="Logo Fazbear" style="display: block; margin: 0 auto; height: 400px;">
    
</body>
</html>

<%- include ('partials/footer.ejs')%>